body { 

  background-image: url("man-4.jpg");
   /* background-image-max-width: 1200px;
    background-image-max-height: 100px;*/
    background-size: 1500px;
    background-repeat: no-repeat; 
}

.h1{
  border: white, 5px;
  font-size: 31px;
  padding-top: 51px;
  padding-left: 21px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  color: white;
}


img{
  margin-bottom: 17px;
  margin-top: 17px;
   /*border: solid 1px;*/
   padding-top: 20px;
   float:       left;
   max-height: 140px;
   max-width: 250px;
   
}

.accordionMenu{
  margin-top: 50px;
}

p{ 
  float: right;
  margin-bottom: 15px;
  margin-top: 17px;
  /*margin: 15px;*/
  width: 650px;
  padding:7px;
  padding-right: 10px;
  
  /*padding-left: 280px;*/
}

button.accordion {
  background: rgba(0,0,0,0.3);
  color: white;
  /*background-color: #000000;/*
  /*background-image: linear-gradient(315deg, #000000 0%, #414141 74%);/*
  /*background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);/*
    /*background-color: #8e2800;*/
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    text-align: left;
    border: white, 1%;
    outline: none;
    transition: 0.4s;
    margin: 0 15% 2px 15%;
    border-radius: 10px;

}

button.accordion.active, button.accordion:hover {
  border: white, 17px;
   box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
    0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  transition: 0.5s ease;
    /*background-color: #b64926;*/

}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0 15% 2px 15%;
}

button.accordion:after {
    content: '\02795' ;
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

/*.header {
  overflow: hidden;
  background-color: transparent;
  color: #fff0a5;
  padding: 10px 10px;
}

.header a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  text-align: center;
  font-size: 2em;
  font-family: Lato, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  background-size: 80%;
  background-repeat: no-repeat;
  // below two lines create text gradient effect
  color: transparent;
  background-clip: text;
  animation: shining 3s linear infinite;
  font-size: 25px;
  font-weight: bold;

}
*/




@keyframes shining {
  from {
    background-position: -500%;
  }
  to {
    background-position: 500%;
  }
}

/*.header a:hover {
  background-color: #b64926;
  }
  
.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
*/

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  

  @media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  ...;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  ...;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  ...;
}


  
  